<div class="flex flex-col-reverse md:flex-row md:items-center gap-x-2 border border-dashed border-gray-900 p-4 rounded-3xl my-8">
  <p class="flex-1">
    Hasta <strong>12 cuotas sin interés</strong>
    pagando con tus tarjetas de crédito Santander LATAM Pass.
  </p>
  {% render 'logo-santander', class: 'w-[120px] md:w-[226px]' %}
</div>