<div class="drawer-cart fixed z-[9999] w-[100vw] h-full top-0 left-0 flex justify-end bg-[rgba(10,10,10,.5)]" x-ref="drawer_cart">
  <div class="block">
    <div class="fixed top-0 left-0 right-0 bottom-0" @click="$dispatch('toggle-cart')"></div>
    <div class="cart-inner bg-white h-full w-[420px] px-4 flex flex-col justify-between z-[9999]" style="max-width: calc(100vw - 3rem);">
      <div class="flex justify-between items-center py-4">
        <h2 class="text-base lg:text-xl font-bold uppercase">Carrito de compras</h2>
        <button aria-label="Cerrar el carrito" @click="$dispatch('toggle-cart')" class="text-[#a00]">
          {% render 'icon-close' %}
          <div class="sr-only">Cerrar el menu</div>
        </button>
      </div>
      <div x-ref="cart_content" class="flex flex-col h-[90vh] relative" x-data="{
        factura: false,
        invalidRut: false,
        invalidRazon: false,
        invalidGiro: false,
        validRut(rut){
          let dv = rut.slice(-1);
          let cleanRut = rut.slice(0,-1).replace(/\D/g,'');
          let arr = cleanRut.split('').reverse();
          let acc = 0;
          let mult = 2;
      
          for(let num of arr){
            acc += Number(num) * mult;
            mult += 1;
      
            if(mult === 8) mult = 2;
          }
      
          let aux = 11 - (acc % 11);
      
          if(dv === 'k' || dv === 'K') return aux === 0;
          if(dv === '0') return aux === 1;
          return aux === Number(dv); 
        },
        handleRut(e){
          e.target.value.length > 0 ? this.invalidRut = true : this.invalidRut = false; 
          if(e.target.value.length < 9 && e.target.value.length < 11) return;
          this.validRut(e.target.value)? this.invalidRut = false : this.invalidRut = true;
        },
        handleRazon(e){
          e.target.value < 1 ? this.invalidRazon = true : this.invalidRazon = false;
        },
        handleGiro(e){
          e.target.value < 1 ? this.invalidGiro = true : this.invalidGiro = false;
        },
        handleSubmit(e){  
          if(
            this.factura === true && this.invalidRut === true || 
            this.factura === true && this.invalidRazon === true || 
            this.factura === true && this.invalidGiro === true) e.preventDefault();
        }
      }">
        {% render 'cart-form' %}
      </div>
    </div>
  </div>
</div>  