<div class="py-4 my-8">
  <div class="wrapper">
    <div class="max-w-[1100px] mx-auto text-[#262626]">
      <h2 class="uppercase font-bold text-[22px] lg:text-[30px] my-4">Preguntas Frecuentes</h2>
      <ul>
        {% for block in section.blocks %}
          <li class="border-b border-[#ccc] {% if forloop.first %}border-t{% endif %}">
            <details class="faq-details">
              <summary class="flex justify-between items-center">
                <span class="text-[16px] lg:text-[18px] uppercase font-bold">{{ block.settings.title | escape }}</span>
                {% render 'icon-plus-circle', class: 'w-8' %}
              </summary>
              <div class="pb-2">
                {{ block.settings.content }}
              </div>
            </details>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<style>

  .faq-detail summary .minus{
    display:none;
  }

  .faq-detail[open] summary .plus{
    display: none;
  }
  .faq-detail[open] summary .minus{
    display: block;
  }
</style>
{% schema %}
  {
    "name": "FAQS Collection",
    "settings": [],
    "blocks": [
      {
        "type": "faq",
        "name": "faq",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Título del faq",
            "default": "Lorem ipsum dolor sit amet."
          },
          {
            "type": "richtext",
            "id": "content",
            "label":"Contenido del faq",
            "default": "<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit reiciendis eligendi consequatur voluptatum, possimus consectetur!</p>"
          }
        ]
      }
    ]
  }
{% endschema %}

