<div class="wrapper flex flex-col justify-left md:[&>section]:my-7 [&>section]:my-4 my-8 [&>*]:w-[100%] sm:[&>*]:w-[85%] md:[&>*]:w-[60%] [&>*]:mx-auto [&>section]:space-y-3">
  {% render 'breadcrumb' %}

  <section class="flex flex-col justify-center">
    <div class="icon -mb-2 flex justify-center items-center mx-auto">
      <img
        class="max-h-[50px]"
        src="{{ section.settings.contact_image | image_url }}"
        width="auto"
        height="auto"
      >
    </div>
    <h2 class="flex justify-center text-center text-xl !mt-4 md:mt-0">
      <span class="mr-2">{{ section.settings['contact-title'] }}</span>
      {{ section.settings.contact }}
    </h2>
  </section>
</div>

{% schema %}
  {
    "name": "Contact",
    "tag": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "contact_image",
        "label": "Imagen título de contacto"
      },
      {
        "type": "richtext",
        "id": "contact-title",
        "label": "Título de contacto"
      },
      {
        "type": "text",
        "id": "contact",
        "label": "Contacto"
      }
    ],
    "blocks": []  
  }
{% endschema %}