<div class="py-8 bg-[#B5B5B5] text-white my-8 lg:my-12">
  <div class="wrapper">
    <ul class="grid grid-cols-1 lg:grid-cols-3 gap-8">
      {% for block in section.blocks %}
        <li class="flex items-center text-center flex-col lg:px-8">
          <img
            src="{{ block.settings.image | img_url: '150x' }}"
            alt="{{ block.settings.title | escape }}"
            width="150"
            height="{{ 150 | divided_by: block.settings.title.aspect_ratio | ceil }}"
            loading="lazy"
            class="mb-4">
          <h3 class="mb-2 uppercase font-bold text-20px text-center">{{ block.settings.title | escape }}</h3>  
          <p>
            {{ block.settings.content | escape }}
          </p>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% schema %}
  {
    "name": "Home Sellos",
    "max_blocks": 3,
    "blocks": [
      {
        "name": "Sello",
        "type": "sello",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Inserta el icono"
          }, {
            "type": "text",
            "id": "title",
            "label": "Inserta el título",
            "default": "Lorem, ipsum dolor."
          }, {
            "type": "text",
            "id": "content",
            "label": "Inserta el contenido",
            "default": "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores nesciunt accusamus error quae amet voluptatibus reprehenderit vero autem quasi in!"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Home Sellos"
      }
    ]
  }
{% endschema %}