<div class="my-4 lg:my-8">
  <div class="wrapper">
    <h2 class="text-[20px] font-gobold tracking-[1px] lg:text-[30px] uppercase text-center py-8">{{ section.settings.title | escape }}</h2>
    <featured-products>
      <div class="featured-products featured-products-{{ section.id }} relative overflow-hidden py-4">
        <ul class="swiper-wrapper">
          {% for product in collections[section.settings.coll].products %}
            {% render 'card-product', product: product , class: 'swiper-slide' %}
          {% endfor %}
        </ul>
        <div class="swiper-button-next text-[#4a4a49]"></div>
        <div class="swiper-button-prev text-[#4a4a49]"></div>
      </div>
    </featured-products>
  </div>
</div>

{% schema %}
  {
    "name": "Productos Destacados",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Titulo de la sección"
      },
      {
        "type": "collection",
        "id": "coll",
        "label": "Selecciona la colección"
      }
    ],
    "presets": [
      {
        "name": "Productos Destacados",
        "category": "carousel"
      }
    ]
  }
{% endschema %}