<div class="mx-auto my-8">
  <div class="wrapper">
    <a href="{{ section.settings.link }}">
      {{ section.settings.image_desktop | image_url: width: 1500 | image_tag: loading: 'lazy', alt: section.settings.text_alt, class: 'w-full h-auto object-center object-fill hidden md:block' }}
      {{ section.settings.image_mobile | image_url: width: 1500 | image_tag: loading: 'lazy', alt: section.settings.text_alt, class: 'w-full h-auto object-center object-fill md:hidden' }}
      <span class="sr-only">{{ section.settings.text_alt }}</span>
    </a>
  </div>
</div>

{% schema %}
  {
    "name": "Full width image",
    "tag": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image_desktop",
        "label": "Imagen desktop"
      }, {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Imagen mobile"
      }, {
        "type": "url",
        "id": "link",
        "label": "Link de la sección"
      },
      {
        "type": "text",
        "id": "alt_text",
        "label": "Texto alternativo"
      }
    ],
    "presets": [
      {
        "name": "Full width image",
        "category": "image"
      }
    ]
  }
{% endschema %}