<div class="hidden lg:block">
  <div class="wrapper">
      <ul class="flex justify-evenly items-center py-4">
        {% for block in section.blocks %}
          <li class="flex justify-center items-center gap-x-2">
            <img src="{{ block.settings.image | img_url: '30x' }}" alt="{{ block.settings.text | escape }}">
            <span class="uppercase text-base tracking-[1px]">{{ block.settings.text | escape }}</span>
          </li>
        {% endfor %}
      </ul>
  </div>
</div>

{% schema %}
  {
    "name": "Iconos Home",
    "max_blocks": 4,
    "blocks": [
      {
        "type": "icon",
        "name": "Icono",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Inserta el icono"
          }, {
            "type": "text",
            "id": "text",
            "label": "Titulo del icono"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Iconos Home"
      }
    ]
  }
{% endschema %}