<div class="wrapper min-h-[60vh] w-full flex justify-center items-center">
  <div class="text-center">
    <p class="font-semibold text-[18px]">{{ 'templates.404.subtext' | t }}</p>
    <h1 class="mt-12 mb-14  uppercase tracking-[1px] text-[22px] lg:text-[30px] leading-[1.2] font-gobold">{{ 'templates.404.title' | t }}</h1>
    <a href="{{ routes.all_products_collection_url }}" class="block mx-auto bg-[#a00] font-gobold font-bold text-white px-4 py-2 uppercase tracking-[1.5px] transition-colors duration-200 ease-in-out hover:bg-[#efd4d4] hover:text-[#a00]">
      {{ 'general.continue_shopping' | t }}
    </a>
  </div>
</div>