<div class="w-full wrapper flex flex-col justify-left md:[&>section]:my-7 [&>section]:my-4 my-8 sm:[&>*]:w-[85%] md:[&>*]:w-[60%] sm:[&>*]:mx-auto [&>section]:space-y-3">
  {% render 'breadcrumb' %}

  <section class="flex">
    <div class="icon -mb-2 flex justify-center items-center mr-12 lg:mr-6">
      {% render 'icon-headphone' %}
    </div>
    <h2><b class="mr-2">¿Necesitas Ayuda?</b> Contáctanos</h2>
  </section>

  {% comment %} LLAMANOS DESKTOP {% endcomment %}
  <section class="hidden sm:flex">
    <div class="mr-4 icon flex justify-center items-center w-1/5 min-h-[60px] min-w-[60px] max-w-[60px] max-h-[60px] md:min-h-[90px] md:min-w-[90px] md:max-h-[90px] md:max-w-[90px] md:h-[90px] md:w-[90px]">
      {% render 'icon-phone' %}
    </div>
    <div class="info w-4/5">
      <h2 class="text-lg">Llámanos</h2>
      <p>Hablemos de lunes a viernes de 08:30 a 17:00 hrs</p>
      <a
        class="mt-4 block w-max border border-black md:w-[50%] py-1 px-4 rounded-2xl text-center"
      >
        +56 2 2914 0620
      </a>
    </div>
  </section>

  {% comment %} LLAMANOS MÓVIL {% endcomment %}
  <section class="flex sm:hidden">
    <div class="mr-4 icon flex justify-center items-center w-1/5 min-h-[60px] min-w-[60px] max-w-[60px] max-h-[60px] md:min-h-[90px] md:min-w-[90px] md:max-h-[90px] md:max-w-[90px] md:h-[90px] md:w-[90px]">
      {% render 'icon-phone' %}
    </div>
    <div class="info w-4/5">
      <h2 class="text-lg">Llámanos</h2>
      <p>+56 2 2914 0620</p>
      <p>Hablemos de lunes a viernes de 08:30 a 17:00 hrs</p>
      <a
        href="tel:+56229140620"
        class="mt-4 block w-max border border-black md:w-[50%] py-1 px-4 rounded-2xl text-center"
      >
        Llamar a Servicio al cliente
      </a>
    </div>
  </section>
  {% comment %} 
  {% comment %} WHATSAPP DESKTOP {% endcomment %}
  <section class="hidden sm:flex">
    <div class="mr-4 icon flex justify-center items-center w-1/5 min-h-[60px] min-w-[60px] max-w-[60px] max-h-[60px] md:min-h-[90px] md:min-w-[90px] md:max-h-[90px] md:max-w-[90px] md:h-[90px] md:w-[90px] rounded-full p-2 md:p-6 bg-[#edeef0]">
      {% render 'icon-whatsapp' %}
    </div>
    <div class="info w-4/5">
      <h2 class="text-lg">Hablemos por WhatsApp</h2>
      <p>Escríbenos de lunes a viernes de 08:30 a 17:00 hrs</p>
      <a
        href="https://wa.me/56229140620"
        _blank
        class="mt-4 block w-max border border-black md:w-[50%] py-1 px-4 rounded-2xl text-center"
      >
        +56 2 2914 0620
      </a>
    </div>
  </section>

  {% comment %} WHATSAPP MÓVIL {% endcomment %}
  <section class="flex sm:hidden">
    <div class="mr-4 icon flex justify-center items-center w-1/5 min-h-[60px] min-w-[60px] max-w-[60px] max-h-[60px] md:min-h-[90px] md:min-w-[90px] md:max-h-[90px] md:max-w-[90px] md:h-[90px] md:w-[90px] rounded-full p-2 md:p-6 bg-[#edeef0]">
      {% render 'icon-whatsapp' %}
    </div>
    <div class="info w-4/5">
      <h2 class="text-lg">Hablemos por WhatsApp</h2>
      <p>Escríbenos de lunes a viernes de 08:30 a 17:00 hrs</p>
      <a
        href="https://wa.me/56229140620"
        _blank
        class="mt-4 block w-max border border-black md:w-[50%] py-1 px-4 rounded-2xl text-center"
      >
        Iniciar WhatsApp
      </a>
    </div>
  </section>
 {% endcomment %}
  
  {% comment %} EMAIL {% endcomment %}
  <section class="flex items-center">
    <div class="flex items-center justify-center bg-[#edeef0] rounded-full min-h-[60px] min-w-[60px] max-w-[60px] max-h-[60px] md:min-h-[90px] md:min-w-[90px] md:max-h-[90px] md:max-w-[90px] md:h-[90px] md:w-[90px] mr-4">
      <div class="border-black icon min-h-[40px] min-w-[40px] max-w-[40px] max-h-[40px] md:min-h-[50px] md:min-w-[50px] md:max-h-[50px] md:max-w-[50px] md:h-[50px] md:w-[50px] rounded-full flex">
        {% render 'icon-envelope' %}
      </div>
    </div>
    <div>
      <h3 class="text-lg">Envíanos un e-mail</h3>
      <a
        href="mailto:contacto@scaldasonno.cl"
        class="underline italic font-bold mt-4 block w-[100%] border border-black py-1 px-4 rounded-2xl text-center"
        >contacto@scaldasonno.cl</a
      >
    </div>
  </section>
</div>
